:root {
    --bg: #ebe7c3;
    --fg: #333333;
}


@media screen and (max-width: 600px) {
    body {
        font-size: 0.8em;
    }

    #keyboard {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 1px;

        #third-line,
        #second-line,
        #first-line {
            width: 100%;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;

            .key {
                margin: 1px;
                width: 40px;
                height: 40px;
                font-size: 0.8em;
            }
        }
    }
}

* {
    padding: 0;
    margin: 0;
}

::selection,
::-moz-selection {
    background-color: var(--fg);
    color: var(--bg);
}


body {
    background-color: var(--bg);
    color: var(--fg);
    font-family: monospace;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}


#newgame {
    background: none;
    border: 2px solid var(--fg);
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 1.3em;
    margin: 5px;
    cursor: pointer;

    &:hover {
        opacity: 0.7;
    }
}

#attempts {
    border: 2px solid var(--fg);
    border-radius: 4px;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;

    p {
        font-size: 6em;
    }
}

#word {
    font-size: 6em;
}

#keyboard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;

    .key {
        background: none;
        border: 2px solid var(--fg);
        border-radius: 4px;
        width: 50px;
        height: 50px;
        font-size: 1.3em;
        margin: 5px;
        cursor: pointer;

        &:active,
        &:hover {
            opacity: 0.7;
        }

        &.used {
            opacity: 0.5;
            cursor: default;
        }
    }
}

